[Unit]
Description=CribGuard UI (LVGL/SDL KMS/DRM)
After=multi-user.target

[Service]
Type=simple
User=pi
Group=pi
WorkingDirectory=/home/pi/CribGuard-Display
Environment=SDL_VIDEODRIVER=kmsdrm
ExecStart=/usr/local/bin/cribguard-run.sh
Restart=always
RestartSec=2

[Install]
WantedBy=multi-user.target


